name: Generate preview environment

on:
  pull_request:
    types: [opened, reopened, synchronize]

env:
  ENVIRONMENT_NAME: "${GITHUB_REPOSITORY:8}-${GITHUB_REF:11}"

jobs:
  create_environment:
    name: Create environment
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - uses: actions/checkout@v2
        with:
          ref: 'gh-actions-test'
          repository: 'architect-team/architect-cli'
      - run: npm link
      - run: architect config:set log_level info
      - name: Login to Architect
        run: architect login -u ${ARCHITECT_USERNAME} -p ${ARCHITECT_PASSWORD}
      - name: Create preview environment
        run: architect env:create "${ENVIRONMENT_NAME}" --platform "preview-platform"
      - name: Deploy to preview environment
        run: architect deploy preview.env.json --environment "${ENVIRONMENT_NAME}"