name: Generate preview environment

on:
  pull_request:
    types: [opened, reopened, synchronize]

env:
  ENVIRONMENT_NAME: "${GITHUB_REPOSITORY:8}-${GITHUB_REF:11}"

jobs:
  create_environment:
    name: Create environment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Setup 'pass' as keytar secret manager
        run: |
          sudo apt install gnupg2 pass
          cat >gpg2.tmp <<EOF
            %echo Generating a basic OpenPGP key
            Key-Type: default
            Subkey-Type: default
            Name-Real: Architect Inc
            Name-Comment: Architect.io
            Name-Email: david@architect.io
            Expire-Date: 0
            Passphrase: architect
            # Do a commit here, so that we can later print "done" :-)
            %commit
            %echo done
          EOF
          gpg2 --batch --generate-key gpg2.tmp
          HOME=/home/docker-user pass init `gpg2 --list-secret-keys | grep uid -B 1 | head -n 1`
      - uses: actions/checkout@v2
        with:
          ref: 'gh-actions-test'
          repository: 'architect-team/architect-cli'
      - run: npm link
      - name: Login to Architect
        run: architect login -u "${{ secrets.ARCHITECT_USERNAME }}" -p "${{ secrets.ARCHITECT_PASSWORD }}"
      - name: Create preview environment
        run: architect env:create "${ENVIRONMENT_NAME}" --platform "preview-platform"
      - name: Deploy to preview environment
        run: architect deploy preview.env.json --environment "${ENVIRONMENT_NAME}"